<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppyadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".All_Products" />
        <activity android:name=".View_AllOrder" />
        <activity android:name=".Give_Permission" />
        <activity android:name=".View_Requests" />
        <activity android:name=".Main_Page" />
        <activity android:name=".loadingbaranim" />
        <activity android:name=".doneanim" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".AdminBoard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>